.about {
  h2 {
    margin-bottom: 40px;
  }

  &__intro {
    margin-bottom: 50px;
  }

  &__skills {
    margin-bottom: 70px;
    .row {
      flex-wrap: wrap;
    }

    .col-2 {
      text-align: center;
    }

    h3 {
      font-size: 1.4rem;
      margin: unset;
    }
  }

  &__languages,
  &__hobbies {
    li {
      margin: 10px 0;
    }
  }

  &__personal {
    color: rgba(255, 255, 255, 0.7);
    padding: 40px;
    background-color: $accent-primary;
    border-radius: 10px;
    font-size: 1.4rem;

    h3 {
      color: $main-light;
      font-size: 2rem;
    }

    ul {
      margin-bottom: 30px;

      &::last-child {
        margin-bottom: 0;
      }
    }

    .courses__list {
      margin-bottom: 50px;
      .courses__item {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }

        &.row {
          align-items: center;
        }

        a {
          color: rgba(255, 255, 255, 0.7);
        }
      }
    }
  }
}
