@import "form";

.footer {
  height: 100%;
  color: $main-light;
  padding: 40px 4%;
  background-color: $accent-primary;
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  transition: 0.3s;
  overflow: hidden;
  transform: translate3d(-100.5%, 0, 0);
  z-index: 100;

  .row {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  h2 {
    @include fontSize(30);
    font-weight: bold;
    margin-bottom: 50px;
  }

  &__item {
    margin-bottom: 20px;
    p {
      margin: 0;
      font-weight: light;
    }
  }

  &__contact {
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  @include tablet-portrait-sm {
    position: relative;
    width: 100%;
    transform: none;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;

    .btn__circle {
      display: none;
    }
  }

  .copyright {
    text-transform: uppercase;
    @include fontSize(13);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
  }
}
