.form {
  margin-bottom: 50px;

  &__item {
    margin-bottom: 16px;
  }

  input,
  textarea {
    background-color: unset;
    border: unset;
    color: $main-light;
    padding: 15px 0;
    width: 100%;
    outline: none;
    border-bottom: 1px solid $main-light;

    &:invalid {
      box-shadow: none;
    }

    &::placeholder {
      color: $main-light;
    }
  }

  textarea {
    resize: none;
  }

  &__success {
    display: none;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #0303033d;
  }
}
