.form {
  margin-bottom: 50px;

  &__item {
    margin-bottom: 16px;
  }

  input,
  textarea {
    background-color: unset;
    border: unset;
    color: $main-light;
    padding: 15px 0;
    width: 100%;
    outline: none;
    border-bottom: 1px solid $main-light;

    &:invalid {
      box-shadow: none;
    }

    &::placeholder {
      color: $main-light;
    }

    @include phone {
      text-transform: uppercase;
    }
  }

  textarea {
    resize: none;
  }

  &__success {
    display: none;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #0303033d;
  }

  @include tablet-landscape-xs {
    text-align: center;

    .flex-container {
      display: flex;
      flex-wrap: wrap;

      .form__item {
        flex: 0 0 50%;
        max-width: calc(50% - 40px);
        margin: 0 20px;

        &.textarea {
          flex: 0 0 100%;
          max-width: calc(100% - 40px);
          margin: 0 20px;
        }
      }
    }
  }

  @include phone {
    .flex-container {
      .form__item {
        flex-basis: 100%;
        max-width: 100%;
        margin: 0;

        &.textarea {
          flex-basis: 100%;
          max-width: 100%;
          margin: 0;
        }
      }
    }
  }
}
