.header {
  min-height: 100vh;
  @include centerFlex();
  text-align: center;

  &.flex--start {
    justify-content: flex-start;
  }

  h1 {
    position: relative;
    letter-spacing: 2px;
    margin: 60px 0 10px;
    font-weight: bold;
    @include fontSize(36);
    font-family: "Poppins", sans-serif;
    z-index: 10;

    @include tablet-portrait-sm {
      @include fontSize(26);
      margin: 20px 0 10px;
    }
  }

  .title-name {
    color: lightcoral;
  }

  h2 {
    @include fontSize(18);
    font-weight: normal;
    text-transform: uppercase;

    @include tablet-portrait-sm {
      @include fontSize(15);
    }
  }

  &__image {
    &.row {
      justify-content: center;
    }

    img {
      border-radius: 50%;
    }
  }

  &__icons {
    margin: 35px 0 60px;

    @include tablet-portrait-sm {
      margin: 35px 0;
    }
  }

  &__button {
    &.row {
      justify-content: center;
    }
  }

  &__item {
    display: inline-block;

    a {
      color: $accent-secondary;
      padding: 0 20px;
      @include fontSize(22);
    }
  }

  @include tablet-landscape {
    .col-5 {
      flex-basis: 55%;
      max-width: calc(55% - 40px);
    }
  }

  @include tablet-landscape {
    .col-5 {
      flex-basis: 65%;
      max-width: calc(65% - 40px);
    }
  }

  @include tablet-portrait {
    .col-5 {
      flex-basis: 75%;
      max-width: calc(75% - 40px);
    }
  }

  @include tablet-portrait-sm {
    .col-5 {
      flex-basis: 100%;
      max-width: calc(100% - 40px);
    }
  }
}
