.nav {
  position: fixed;
  width: 60%;
  top: 20px;
  left: 6%;
  z-index: 100;

  .col-9.row {
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 50px;
    background-color: $accent-primary;
    border-radius: 30px;
    opacity: 0;
    z-index: 10;

    &.opacity {
      opacity: 1;
      display: flex;
    }

    @include phone {
      border-radius: unset;
    }
  }

  &__item {
    a {
      text-transform: capitalize;
      padding: 10px;
      transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &:hover {
        color: $dark-light;
      }
    }

    &:last-child {
      display: none;
    }
  }

  @include tablet-portrait-sm {
    padding: 0 20px;
    width: 100%;
    left: 0;

    > .row {
      text-align: right;
    }

    .row {
      margin: 0;
    }

    .col-9,
    .col-9.row {
      display: block;
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
    }

    .col-9.row {
      display: inline-block;
    }

    .col-auto {
      z-index: 1;
      position: relative;
    }

    .btn__menu {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    &__dropdown {
      display: block;
      @include fontSize(16);
      position: absolute;
      width: 70%;
      right: -10px;
      top: -10px;
      max-width: calc(100% - 20px);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      overflow: hidden;
      border-radius: 20px;
    }

    &__list {
      padding: 70px 0 20px;
      height: auto;
      align-items: flex-start;
      text-align: left;
      background-color: rgba(43, 60, 81, 0.7);

      .col-2 {
        max-width: 100%;
        flex-basis: 100%;
      }

      &.opacity {
        display: block;
      }
    }

    &__item {
      &:last-child {
        display: block;
      }
    }
  }

  @include phone {
    display: none;
  }
}
