.nav {
  position: fixed;
  width: 75%;
  top: 20px;
  left: 6%;

  .col-9.row {
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 50px;
    background-color: $accent-primary;
    border-radius: 30px;
    // visibility: hidden;
    opacity: 0;
    z-index: 10;

    &.opacity {
      opacity: 1;
    }
  }

  &__item {
    a {
      text-transform: capitalize;
      padding: 10px;
    }
  }
}
