.nav {
  position: fixed;
  width: 60%;
  top: 20px;
  left: 6%;
  z-index: 100;

  .col-9.row {
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 50px;
    background-color: $accent-primary;
    border-radius: 30px;
    opacity: 0;
    z-index: 10;

    &.opacity {
      opacity: 1;
      display: flex;
    }

    @include tablet-landscape-xs {
      .col-4 {
        flex-basis: 25%;
        max-width: calc(25% - 40px);
      }
    }

    @include phone {
      border-radius: unset;
    }
  }

  &__item {
    a {
      text-transform: capitalize;
      padding: 10px;
      transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &:hover {
        transform: scale(1.1);
      }
    }

    &:last-child {
      display: none;
    }
  }

  @include tablet-landscape {
    width: 80%;
  }

  @include tablet-landscape-xs {
    width: 100%;

    &__item {
      a {
        @include fontSize(14);
      }

      &:last-child {
        display: block;
      }
    }
  }

  @include tablet-portrait-sm {
    display: none;
  }
}
