.portfolio {
  position: relative;
  min-height: 100vh;
  @include centerFlex();

  .row {
    flex-wrap: wrap;
  }

  .section-title {
    margin: 0;

    @include tablet-landscape-sm {
      margin-top: 50px;
    }

    @include tablet-portrait-sm {
      margin: 20px 20px 10px;
    }

    @include phone {
      margin-top: 10px;
    }
  }

  &__description {
    margin: 20px 0;

    @include tablet-portrait-sm {
      margin: 0 20px 20px;
    }
  }

  &__list {
    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .col-4 {
      height: 200px;
      margin: 20px;

      @include tablet-landscape-sm {
        flex-basis: 50%;
        max-width: calc(50% - 40px);
      }

      @include tablet-portrait {
        flex-basis: 70%;
        max-width: calc(70% - 20px);
        margin: 10px;
      }
    }

    .image__container {
      position: relative;
      height: 100%;
      border-radius: 10px;
      overflow: hidden;

      .overlay {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30%;
        padding: 20px;
        background-color: $accent-primary;
        transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);

        &__title {
          margin-bottom: 30px;
          align-items: center;

          i {
            display: inline-block;
            margin-right: 5px;

            @include phone {
              display: none;
            }
          }

          h3 {
            display: inline-block;
            margin-top: -3px;
            vertical-align: middle;
            font-weight: normal;
            @include fontSize(15);

            @include phone {
              @include fontSize(12);
            }
          }

          @include phone {
            margin-bottom: 0;
            text-transform: uppercase;
          }
        }

        &__list {
          margin-top: 15rem;
          transition: all 0.4s 0.2s ease;

          .col-auto {
            margin: 10px;
          }
        }

        @include phone {
          padding: 15px;
          height: 25%;
        }
      }

      &:hover .overlay {
        height: 100%;
        background-color: rgba(43, 60, 81, 0.8);
        opacity: 1;

        .overlay__list {
          margin-top: 0;
        }
      }

      h3 {
        margin: 0;
        font-weight: normal;
      }

      img {
        height: 100%;
        object-fit: cover;

        @include tablet-portrait {
          width: 100%;
        }
      }
    }

    @include tablet-portrait {
      &.row {
        justify-content: center;
      }
    }

    @include tablet-portrait-sm {
      &.row {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow: auto;
        margin: 0 20px;

        .col-4 {
          &:last-child {
            margin-right: 40px;
          }
        }
      }
    }

    @include tablet-landscape-sm {
      margin-bottom: 30px;
    }
  }

  @include tablet-landscape-sm {
    min-height: unset;
  }

  @include tablet-portrait-sm {
    .wrapper {
      padding: 0;
    }
  }

  @include phone {
    margin-top: 20px;
  }
}
