.scroll-type1 {
  position: absolute;
  width: 20px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #000;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all 0.3s;
  &::before {
    display: block;
    content: "";
    color: #000;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    top: -25px;
    left: -5px;
  }
  &::after {
    display: block;
    content: "";
    width: 1px;
    height: 12px;
    background: #000;
    margin: auto;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    animation: scroll1 1.5s infinite;
  }

  @keyframes scroll1 {
    0% {
      opacity: 0;
      top: 5px;
    }
    40% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      top: 20px;
    }
  }
}
