ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h4,
p {
  margin: 0;
}

h2 {
  &.section-title {
    margin-bottom: 30px;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: $main-light;
}

button {
  display: inline-block;
  padding: 0;
}

.about,
.experience {
  @include centerFlex();
  min-height: 100vh;
}

.offcanvas__wrap {
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}

.footer.offcanvas__visible {
  transform: translate3d(0, 0, 0);
}

.offcanvas__wrap--right {
  transform: translate3d(36%, 0, 0);
}

.scroll__hint {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-weight: bold;
  font-size: 2rem;

  &--right {
    right: -25px;
  }

  &--left {
    left: -25px;
  }
}

.fab,
.fas {
  font-size: 2rem;
}

.fa-chevron-circle-right {
  font-size: 1.8rem;
}
