ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h4 {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $main-light;
}

button {
  display: inline-block;
  padding: 0;
}

.hide {
  display: none;
}

.offcanvas__wrap {
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}

.footer.offcanvas__visible {
  transform: translate3d(0, 0, 0);
}

.wrap__right {
  transform: translate3d(40%, 0, 0);
}

span {
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  color: #000;
  font-size: 2rem;
  font-weight: bold;
}
