ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h4,
p {
  margin: 0;
}

h2 {
  &.section-title {
    margin-bottom: 30px;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: $main-light;
}

button {
  display: inline-block;
  padding: 0;
}

.about,
.experience {
  @include centerFlex();
  min-height: 100vh;
}

.offcanvas__wrap {
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}

.footer.offcanvas__visible {
  transform: translate3d(0, 0, 0);
}

.offcanvas__wrap--right {
  transform: translate3d(36%, 0, 0);
}

.scroll__hint {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-weight: bold;
  @include fontSize(20);
  max-width: 1.35ch;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  letter-spacing: 1px;

  &--right {
    right: -10px;
    transform: translate(110%, -50%);
  }

  &--left {
    left: -10px;
    transform: translate(-110%, -50%);
  }
}

.chart {
  margin: 15px 0;
}

.fab,
.fas {
  @include fontSize(20);
}

.fa-laptop {
  color: seashell;
}

.fa-times {
  @include fontSize(26);

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }
}

.fa-chevron-circle-right {
  @include fontSize(14);
}

.fa-download {
  @include fontSize(14);
  margin-right: 10px;
}

.fa-linkedin-in,
.fa-github,
.fa-twitter {
  position: relative;
  z-index: 10;
}
